html, body {
  height: 100%;
}

h1 {
  text-align: center;
}

main {
  min-height: 70%;
}
#main > .container {
  position: relative;
}

.headnav a {
  text-decoration: none;
  color: #000;
}

.headnav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 30px 0 0 0;
}
.headnav ul li {
  list-style: none;
  white-space: nowrap;
}
.headnav ul li a {
  border-bottom: 1px solid #CCC;
  display: block;
  padding: 0 15px;
}
.headnav ul li a:hover {
  border-bottom: 1px solid #000;
}
.headnav li.nav-selected a, .headnav li.nav-path-selected a {
  border-bottom: 1px solid #CCC;
}

.headnav ul li a {
  display: block;
  padding: 10px 10px;
}
a.pb {
  width: auto;
  right: -170px;
}
a.pb img {
  display: block;
}