/* Couleurs et fontes */

:root {
  --rose: #c07b78;
  --gris: rgba(242, 242, 242, 0.2);

  --creme: #fafafa;
  --persName: rgba(0, 0, 128, 1);
  --persName5: rgba(0, 0, 128, 0.3);
  --persNameLite: rgba(0, 0, 128, 0.1);
  --name: rgba(0, 128, 0, 1);
  --name5: rgba(0, 128, 0, 0.3);
  --nameLite: rgba(0, 128, 0, 0.1);
  --placeName: rgba(192, 64, 64, 1);
  --placeName5:  rgba(192, 64, 64, 0.3);
  --placeNameLite:  rgba(192, 64, 64, 0.1);
  --tech: rgba(255, 192, 0, 1);
  --tech5: rgba(255, 192, 0, 0.3);
  --techLite: rgba(255, 192, 0, 0.1);
  --ana: rgba(128, 128, 128, 1);
  --ana5: rgba(128, 128, 128, 0.3);
  --anaLite: rgba(128, 128, 128, 0.1);
}

h2 a,
body {
  color: #000;
}

.bg-black {
  background-color: #000;
}
.bg-black,
.bg-black a {
  color: #fff;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.moto,
h2 {
  font-family: 'Playfair Display', serif;
}

/* html défaut */



html, body {
  height: 100%;
}

main {
  min-height: 70%;
}

h2 {
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-stretch: 100%;
  line-height: 1.2;
}

h2::after {
  /* titres soulignés à moitié */
  content: '';
  display: block;
  font-size: 0;
  width: 4rem;
  /*
  position: absolute;
  bottom: 0;
  left: 0;
  */
  border-bottom: 1px solid var(--rose);
  margin-bottom: 1rem;
}


h1 {
  text-align: center;
}

#main > .container {
  position: relative;
}

/* header, footer */

.nav-link {
  display: inline-block;
  text-transform: uppercase;
  padding: .5rem 1rem;
}

.moto {
  text-transform: uppercase;
}

#partners img.logo {
  width: 7rem;
}
#partners a {
  display: block;
}
/*  
.headnav {
  margin-left: auto;
  margin-right: auto;
}

.headnav a {
  text-decoration: none;
  color: #000;
}

.headnav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.headnav ul li {
  list-style: none;
  white-space: nowrap;
}
.headnav ul li a {
  border-bottom: 1px solid #CCC;
  display: block;
  padding: 0 15px;
}
.headnav ul li a:hover {
  border-bottom: 1px solid #000;
}
.headnav li.nav-selected a, .headnav li.nav-path-selected a {
  border-bottom: 1px solid #CCC;
}

.headnav ul li a {
  display: block;
  padding: 10px 10px;
}
*/
a.pb {
  width: auto;
  right: -170px;
}
a.pb img {
  display: block;
}

/** Page d’accueil */
.home section {
  padding: 0;
  margin: 0;
}

.carousel-item {
}
.carousel-inner img {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.card-deck.doctype {
  margin-left: 0;
  margin-right: 0;
}
.card.doctype {
  width : 16.6%;
  margin: 0;
}
.card.doctype .card-body {
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 0;
  text-align: center;
  font-size: 0.7rem;
  color:black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card.doctype:hover .card-body {
  background: rgba(255, 255, 255, 1);
}
.card.doctype:hover img {
  opacity: 0.5;
}
.card-deck.pers {
  margin-left: 0;
  margin-right: 0;
}
.card.pers {
  width : 16.6%;
  margin: 0;
}
.card.pers img {
  border-radius: 50%;
}
.card.pers .card-body {
  /* 
  padding: 0.5rem 1rem;
  height: 4rem;
  */ 
  text-align: center;
}

#tech {
  padding-top: 30px;
  padding-bottom: 60px;
}

.card-deck.tech {
  margin-left: 0;
  margin-right: 0;
}

.card.tech {
  display: block;
  position: relative;
  flex: none;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  color: #fff;
}
.card.tech p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

#lieu {
  background-image: url('../images/accueil/lieu_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
  padding-bottom: 190px;
}

.card-deck.lieu {
  margin-left: 0;
  margin-right: 0;
}
.card.lieu {
  position: relative;
  display: block;
  width: 16.6%;
  margin: 0;
}
.card.lieu p {
  position: absolute;
  padding: 0 0.5rem;
  margin: 0;
  bottom: 0;
  background-color: var(--rose);
  color: #000;
  text-transform: uppercase;
}
.card.lieu:hover p {
  color: #fff;
}
.card.lieu:hover img {
  opacity: 0.5;
}
.card-deck.divers {
  margin-left: 0;
  margin-right: 0;
}
.card.divers {
  width: 16.6%;
  margin: 0;
}
.card.divers .card-body {
  padding: 0.5rem;
}
td.term a {
  display: block;
  text-decoration: none;
}

