
:root {
  --creme: #fafafa;
  --persName: rgba(0, 0, 128, 1);
  --persNameLite: rgba(0, 0, 128, 0.1);
  --name: rgba(0, 128, 0, 1);
  --nameLite: rgba(0, 128, 0, 0.1);
  --placeName: rgba(192, 64, 64, 1);
  --placeNameLite:  rgba(192, 64, 64, 0.1);
  --tech: rgba(255, 192, 0, 1);
  --techLite: rgba(255, 192, 0, 0.1);
  --ana: rgba(128, 128, 128, 1);
  --anaLite: rgba(128, 128, 128, 0.1);
}


html, body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  line-height: 1.7;
}

main, h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, sans-serif;
}

#aside, #toolbar, #header {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.pb {
  width: auto;
  position: relative;
  float: right;
  right:0;
}
a.pb img {
  display: block;
}

#split {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#split > * {
  overflow: auto;
}

main {
  padding: 2rem;
  background-color: #fff;
  color: #000;
}

#aside {
  top: 2rem;
  bottom: 0;
  padding-bottom: 5rem;
}

#navaside {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  padding: 2px 1rem !important;
  background: #FFFFFF;
  border-bottom: 1px solid #CCC;
}


#header {
  padding-left: 20%;
  padding-right: 20%;
}

#header > * {
  display: block;
}

#aside {
  background-color: var(--creme);
}

#bookmarks {
  width: 1px;
  border: 1px solid #999;
  position: fixed;
  right: 18px;
  top: 0;
  bottom: 0;
}

.toclone {
  display: none !important;
}

#bookmarks mark {
  width: 15px;
  height: 10px;
  border-radius: 3px;
  border: 1px dotted;
  position: absolute;
  left:-9px;
  background-color: violet;
}

/** The split gutters */
.gutter-horizontal {
  width: 5px;
  background: #CCCCCC;
  cursor: col-resize;
  height: 100%;
  border-style: none;
}

.gutter-vertical {
  height: 3px;
  cursor: ns-resize;
  border-style: none;
  text-align: center;
}

.gutter.but {
  font-size: 10px;
  position: relative;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

.gutter.but:hover {
  background: #CCCCD5;
  color: #FFFFFF;
}

.gutter.but.closed {
  background: #888;
  color: #FFFFFF;
}

.gutter.but.closed:hover {
  background: #FFFFFF;
  color: #000;
}

.gutter.but.horizontal {
  margin-left: -2px;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.gutter.but.horizontal:after {
  content: '▶';
}

.gutter.but.horizontal.closed:after {
  content: '◀';
}

.gutter.but.horizontal.first:after {
  content: '◀';
}

.gutter.but.horizontal.first.closed:after {
  content: '▶';
}

.gutter.but.vertical {
  padding-left: 2em;
  padding-right: 2em;
  bottom: 12px;
  line-height: 0;
  height: 6px;
}

.gutter.but.vertical.first:after {
  content: '▲';
}

.gutter.but.vertical.first.closed {
  bottom: 6px;
}

.gutter.but.vertical.first.closed:after {
  content: '▼';
}

.gutter.but.vertical.last:after {
  content: "▼";
}

.gutter.but.vertical.last.closed {
  bottom: 12px;
}

.gutter.but.vertical.last.closed:after {
  content: '▲';
}

#aside a {
  text-decoration: none;
  cursor: pointer;
}

#aside summary {
  line-height: 1.5;
  padding: 5px;
  /* text-align: right; */
  direction: rtl;
}

#aside ul {
 list-style: inside;
 padding-left: 0;
}
#aside ul ul {
 padding-left: 1rem;
}

main.ana,
main.placeName,
main.name,
main.tech,
main.persName {
  color: #999;
}

main.ana img,
main.placeName img,
main.name img,
main.tech img,
main.persName img {
  object-fit: scale-down;
  width:230px;
  height:230px;
  float: right;
}

mark.placeName,
mark.persName,
mark.tech,
mark.name,
span.placeName,
span.persName,
span.tech,
span.name {
  cursor: pointer;
}



#persName thead,
#persName summary,
#persName a:hover,
#bookmarks mark.persName,
main.persName .persName {
  background-color: var(--persNameLite);
  border-color: var(--persName);
  color: #000;
}

#persName a.active,
main .persName.active {
  background-color: var(--persName) !important;
  color: #fff !important;
}

#name thead,
#name summary,
#name a:hover,
#bookmarks mark.name,
main.name .name {
  background-color: var(--nameLite);
  border-color: var(--name);
  color: #000;
}

#name a.active,
main .name.active {
  background-color: var(--name) !important;
  color: #fff !important;
}

#placeName thead,
#placeName summary,
#placeName a:hover,
#bookmarks mark.placeName,
main.placeName .placeName {
  background-color: var(--placeNameLite);
  border-color: var(--placeName);
  color: #000;
}

#placeName a.active,
main .placeName.active {
  background-color: var(--placeName) !important;
  color: #fff !important;
}

#tech thead,
#tech summary,
#tech a:hover,
#bookmarks mark.tech,
main.tech .tech {
  background-color: var(--techLite);
  border-color: var(--tech);
  color: #000;
}

#tech a.active,
main .tech.active {
  background-color: var(--tech) !important;
  color: #fff !important;
}

#ana thead,
#ana summary,
#ana a:hover,
#bookmarks mark.ana,
main.ana .ana {
  background-color: var(--anaLite);
  border-color: var(--ana);
  color: #000;
}

#ana a.active,
main .ana.active {
  background-color: var(--ana) !important;
  color: #fff !important;
}


table.sortable {
  margin-top: 0;
  width: 100%;
}

td.term {
  padding: 0;
}

td.nb {
  text-align: right;
}


table.sortable a {
  color: #666;
  display: block;
  padding: 5px 1rem;
  line-height: 1.1;
}


